.left-sidebar {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  padding: 10px;
  border-right: 1px solid #ccc;
  overflow: hidden;
  background-color: gray;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.openmenu {
  display: flex;
  gap: 10px;
  align-items: center;
}
input {
  width: 91px;
  height: 20px;
}
.left-sidebarSM {
  width: 60px;
  align-items: center;
  justify-content: flex-start;
}
.left-sidebarM {
  align-items: flex-start;
  justify-content: flex-start;
  width: 150px;
}
.menuButton {
  height: 40px;
  width: 40px;
  padding: 0;
}
.left-sidebar li div {
  background-color: rgb(59, 56, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
}
.left-sidebar li div:hover {
  color: rgb(153, 104, 153);
}

.left-sidebar li {
  display: flex;
  gap: 36px;
  list-style: none;
  padding: 5px 0;
}
.selected {
  border: 2px solid purple;
  margin-right: -4px;
}
